extends ../layouts/public_layout

block content
  .row-container
    .row
      .col-md-12
        h1.text-center Login
        form(action='/user/login', method='GET')
          .form-group
            label(for='email') Email address
            input#username.form-control(name='username', type='email', placeholder='Email')
          .form-group
            label(for='password') Password
            input#password.form-control(name='password', type='password', placeholder='Password')
          button.btn.btn-default(type='submit') Submit
