extends ../layouts/public_layout

block content

  h1 Welcome

  div

    h3 About and Overview
    p
      | What you've got here is a front-end web-app starter kit built along side the 
      a(href="http://locomotivejs.org/") Locomotive.js 
      | Express/Node framework. 
    p
      | To those less familiar with Locomotive.js, 
      | you could say Locomotive.js is to Node.js what Ruby on Rails is to
      | Ruby, that is, a framework that support MVC patterns, RESTful routes,
      | and convention over configuration. 
    p
      | Locomotive.js is a great project that allows you start write node apps
      | fast, without worrying about all the boilerplate involved. 
      | However, it leaves the front-end up to you. 
    p
      | Therefore, I started
      | this project with the same intention that Locomotive.js was for the backend,
      | but for the the front-end.
    p
      | It embraces modern development tools including Webpack, ES6, React, and Redux.  

    h3 Gulp, Webpack and ES6
    p
      | Static assets are packaged together with Gulp and Webpack. Two javascript
      | entry points are available, 
      code public_main
      | for the public aspect of the website, and
      code app_main
      | for the app that is accessed by logging in.       
    p
     | Webpack enables you to write ES6 using Babel. 
    
    h3 Stylus
    p
      | CSS is written using Stylus. A directory structure has been started 
      | for your convenience including base and layout styles, a variables file
      | to import, and a component directory for your React components.

    h3 Login and Registration
    p
      | Included is a basic implementation of 
      a(href="http://passportjs.org/") Passport.js 
      | using local strategy, Mongooose, and MongoDB. 
    
    h3 React and Redux
    p
      | The app portion is a SPA that uses React and Redux.
