doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    h1
    p Welcome aboard! 
    script(src='/scripts/public_main.js')
    script(src='/scripts/dashboard_main.js')
