doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    title #{title}
    block head
    
  body
    #app_root.narrow-container
      block content

    script(src='/scripts/app_main.js')
